.ec-list-v1{
  background-color:#fff; 
  width: 100%;
  >li{
    position: relative;
    display: -webkit-box;
    margin-bottom: 2px;
    &:active{
      opacity: .5;
    };
  };
  .ec-list-info{
    display: -webkit-box;
    -webkit-box-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-flex:1;
    padding:0 10px;
    color: #9d9d9d;
    .title{
      font-size:18px;
      line-height:20px;
      color: #000;
      font-style:normal;
    }
  }; 
  .ec-list-img{
    width: 124px;
    height: 124px;
  }
  .ec-list-info{
    .price{
      font-size: 16px;
      margin-top: 2px;
      .before:before,.now:before{
        content:"¥";
        font-size: 12px;
      }
      .before{
        color: #bbb;
        font-size: 12px;
      }
      .ec-ico-limitsale{
        vertical-align: middle;
        margin-left: 6px;
      }
      .now,.before,.ico-limitsale{
        display: inline-block;
        vertical-align: middle;
      }
    }
    .store{
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-orient: horizontal;
      -webkit-box-pack: center;
      margin-top: 5px;
      .logo{
        width: 20px;
        height: 20px;
      }
      .name{
        -webkit-box-flex:1;
        font-size: 14px;
        margin:0 5px;
        line-height: 20px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        color: #777;
      }
    }
  } 
}