//lm production machine resources
.lm-pm-resources{
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  height: 1.4rem;
  padding-left: .25rem;
  padding-right: .24rem;
  .item{
    position:relative;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: .24rem;
    color: #fff;
    margin-right: .02rem;
    -webkit-box-flex: 10;
    width: 0;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    div{
      position: relative;
      z-index: 2;
    }
    //圆角背景
    .bg{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      &:after{
        content: "";
        position:absolute;
        right: 0px;
        top: 0px;
        width:94%;
        height:100%;
        background-color: rgba(96,65,255,.2);
        border-radius:.1rem;
        -webkit-transform:skewX(-12deg);
        -webkit-transform-origin:100% top;
        background-position:left top;
        background-repeat: no-repeat;
        background-size: auto 100%;
      }
    }
    &:first-child,&:last-child{
      -webkit-box-flex: 13;
      .bg{
        overflow: hidden;
      }
      .bg:after{
        width: 140%;
      }
    }
    &:first-child .bg{
      border-top-left-radius: .3rem;
    }
    &:last-child{
      margin-right: 0rem;
      .bg{
        border-top-right-radius: .1rem;
        border-bottom-right-radius: .3rem;
        &:after{
          right: auto;
          left: 0;
          -webkit-transform-origin:100% bottom;
        }
      }
    }
    //ico
    //添加按钮
    .add{
      position:absolute;
      width: .6rem;
      height: 100%;
      right: 0;
      top: 0;
      background-color: rgba(96,65,255,.2);
    }
    .ico-bean,.ico-crystal,.ico-gold-coins{
      margin-left:.2rem;
    }
    .ico-add,.ico-bean,.ico-crystal,.ico-gold-coins{
      background-position:left top;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
    .ico-add{
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgBAMAAAD3btVMAAAAFVBMVEUAAABsT/9rT/+AVf9sTv9tT/9sT//+coiXAAAABnRSTlMA7pEGiYjxEaxMAAAARUlEQVQY02PADowElVH4ammpKHyxtEQUflpa2gDxjcTSECBRGehSZJDKAJZGKEDno6lPQTdvwP2Hk483PtTSUvDFJwIAAJv4OwPSlKaJAAAAAElFTkSuQmCC);
      background-position: center center;
      background-size: .3rem .32rem;
    }
    .ico-bean{
      width: .3rem;
      height: .32rem;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAMAAAAynjhNAAAAyVBMVEUAAAAq4E4YzlYYz1YYzlYXzlYYzlYXz1Y/6ksq1lM1401A60sYz1Y+60sYzlcbzVI/60sd0VQYzlZA60w/60s/60pA60sZzlUXzFgb0VJA6lUn2FNA60ss3FE/60w650wYzlYYzlYYzlY96ksYzlcXz1YXzlUZzlUYz1c+60wYz1dA6kwazFlA60sYzlYv31Aaz1b///876Ew+6ksh1FQm2FNI7FNt8HQd0VU04k72/vbu/e+5+L2S9Jil9amk9ahs8HQ24k5B60w4kXkpAAAALXRSTlMABexb+uSsmGEJ+efbtIgS49OzopmJZVI3HAzy7+zp4N+9uKuTeXhyaltVVBTM/A5UAAABHklEQVQoz5XS13KDMBCF4RXNvcUlttN73ZUsAe5p7/9QEZ7AgECZ8X+hm2+OrhaOr8GsNJ90zhFbncm8SustRIxj/bTqJWQjxOVuu1hsd1+II2bwEPFnszi0QcRhUV2OiPvPZRwvP/aoK/zfcEIsdtnI8ROJvBnznlPmTqbshig0uZ9tb4mIm9z8mz77WkNVzadtSlSi2UUyHfNQiJArLDXQPEZbMgB4Q2v8EVjfqmo1hZd/xj7AnX0sugBXVo68GUDTppxqAHBm0bVweprbslK/BbmgC6Iq5UJ/neQSL6GMiE7YgZlvuuIrrekdvRJFMrdMkGoM0rpEIlpLpZRc85B0jps//nsq5NXeM0vPIcvvzsCMucG15zmD4GFahF/71233VV6CkwAAAABJRU5ErkJggg==);
    }
    .ico-crystal{ 
      width: .28rem;
      height: .34rem;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAiCAMAAAB7o0l7AAAAt1BMVEUAAAAx6bAg0KAW0pwW0pwt5a0d1J4myaQz6rIW0pwr5Kwr5KsZ1J4W0p0X0pwp4akV05sm4Kgd2KAX0p4e16Am4q0W0pww568v6K4r5a0W0pwX0pwW0Zwr46oW0p0q4akW0Zwr4akp4KoW050V05sp4KkX0psn4agV0ZsX0Zwo36oS26Qc4qo17LMW0pwb4Kgy67IZ2qMn5q4g5Kwa36cX1Z4v6rEq6K8v6K8p4qol3qcd2KEW16ClAWbdAAAALHRSTlMA+gr74eAXBP7wzsK1lYh2S0kwLCUR9/Pv2dnMxLirpKKbhH9ua2ZVVEM/DlpJAtAAAADpSURBVCjP7ZPXksIwDEUVQhJ6WWB36b3bipMQ+v9/FxCkEFP+gPOk6zN3xuORQWOVq8IHUl0lVb7x1k0NecMov6p6UzLWj66cYUY+yPSdhKv+S52/OatGXtGZ8hXrnB25siGJnRBix8EYXZ3FaRuIG0FctgB49AXB5UNIkmpEsJVyf0IkyTXGPyLGUjzh4ldq8uA+yQ3L6I09zXlIUh2j4ew+aiGyLCDhxTWiAACVNIVwk6ylF/dNL5lcds80mcU1ELUO6rS1vZ5lEyo7cUDDHiDTs+GFZet+kcr7Lzj+RbOUgg/Ui7VkvAAlV3b/rZzmvQAAAABJRU5ErkJggg==);
    }
    .ico-gold-coins{
      width: .3rem;
      height: .32rem;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAMAAAAynjhNAAAAh1BMVEUAAAD/1wD/2AAaFQAiIgAAAAAAAAD+1wD0zAD0zQDuyQD/1wDfvAD/2QD/1wCNewD/3wD/1QD/6QD/1wD/2QD/2AD71AD71AD81QD/2AD2zwD/2QDXtQDnwwCAagD/2AD/vwD/uQD/1QD/zAD/wQD/uwD/wwD/0gD/xQD/vQD/zgD+xAD/xwBk8wmJAAAAH3RSTlMA6/kUEAsGlZ2aioBkV0wdEAYD7ZL6y8nIxrOtWlQMwvd4OAAAAWhJREFUKM+Nk9mSgyAQRcFojEt0su8RRdz///ummwbiJDNVcx5S6ql7aYWw/7LJ9hfuefyyzzYf8ivhhYMnXz/tmqSDr2dyGxYfhFtnb/pBJbtaiKaTlb69Wb/XtxIcUUvKm3V1tBEzGl2w1jNztBRVJdBjAXqO8ycF0JCc2qIahMI8Pk3ga2BYou3LgYbu0EuMb1iG1QIpZWEQ2I/1GQsxTLq1eihNPGRnbNN2LCejK9QdXJwZLo1jq7Foa2X6Ude4OPPg11UPfY/jtagFXHgvTZ9SqrotRuU0ljekiQmGEK78ZEazL03VZrQTi8yL9cJqSRqnjNjDfhY1mrDqtcbFHuy5ozh4MVRFO5XKhfmTsdhtSV8CJGlLYtix3G6ow21ozoD0r+OQMmS5+v0wrZZM419nR7G2R/HqgyIP+XdWYC1B+v43SAM2Y5nHu5fcxTmtOytY3KMjPxz4MbovXHTeEPgLwA9myW+05lfbekGwtwAAAABJRU5ErkJggg==);
    }
    //number
    .num{
      max-width:60%;
      margin-left: .15rem;
      overflow:hidden;
      //text-overflow:ellipsis;
      white-space:nowrap;
      color: #fff;
    }
    .num-bean{
      color: #8f8fa3;
      span:first-child{
        color:#fff;
      }
    }
    .num-gold{
      max-width: 46%;
      color: #fd844c;
      margin-right: .6rem;
    }
  }
}