//lm production machine resources
.lm-pm-resources{
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  height: 1.4rem;
  padding-left: .25rem;
  padding-right: .24rem;
  .item{
    position:relative;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: .24rem;
    color: #fff;
    margin-right: .02rem;
    -webkit-box-flex: 10;
    width: 0;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    div{
      position: relative;
      z-index: 2;
    }
    //圆角背景
    .bg{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      &:after{
        content: "";
        position:absolute;
        right: 0px;
        top: 0px;
        width:94%;
        height:100%;
        background-color: rgba(96,65,255,.2);
        border-radius:.1rem;
        -webkit-transform:skewX(-12deg);
        -webkit-transform-origin:100% top;
        background-position:left top;
        background-repeat: no-repeat;
        background-size: auto 100%;
      }
    }
    &:first-child,&:last-child{
      -webkit-box-flex: 13;
      .bg{
        overflow: hidden;
      }
      .bg:after{
        width: 140%;
      }
    }
    &:first-child .bg{
      border-top-left-radius: .3rem;
    }
    &:last-child{
      margin-right: 0rem;
      .bg{
        border-top-right-radius: .1rem;
        border-bottom-right-radius: .3rem;
        &:after{
          right: auto;
          left: 0;
          -webkit-transform-origin:100% bottom;
        }
      }
    }
    //ico
    //添加按钮
    .add{
      position:absolute;
      width: .6rem;
      height: 100%;
      right: 0;
      top: 0;
      background-color: rgba(96,65,255,.2);
    }
    .lm-ico-bean,.lm-ico-crystal,.lm-ico-gold-coins{
      margin-left:.2rem;
      width: .33rem;
      height: .33rem;
    }
    .ico-add{
      background-position:center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgBAMAAAD3btVMAAAAFVBMVEUAAABsT/9rT/+AVf9sTv9tT/9sT//+coiXAAAABnRSTlMA7pEGiYjxEaxMAAAARUlEQVQY02PADowElVH4ammpKHyxtEQUflpa2gDxjcTSECBRGehSZJDKAJZGKEDno6lPQTdvwP2Hk483PtTSUvDFJwIAAJv4OwPSlKaJAAAAAElFTkSuQmCC);
      background-position: center center;
      background-size: .3rem .32rem;
    }
    //number
    .num{
      max-width:60%;
      margin-left: .15rem;
      overflow:hidden;
      //text-overflow:ellipsis;
      white-space:nowrap;
      color: #fff;
    }
    .num-bean{
      color: #8f8fa3;
      span:first-child{
        color:#fff;
      }
    }
    .num-gold{
      max-width: 46%;
      color: #fd844c;
      margin-right: .6rem;
    }
  }
}