//lm-widget-banner  无规范的组件-banner
.lm-widget-banner{
  padding-top:55.73%;
  background-image: url(../img/#.png);
  background-position:left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}