.ui-border-l {border-top: 1px solid #e0e0e0}
@media screen and (-webkit-min-device-pixel-ratio : 2) {
  .ui-border-l{
    border: 0;
    background-position: left top;
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, #e0e0e0));
  }
}