ul.ec-list-v1.ui-border-t
  li.ui-border-b
    .ec-list-img
      span(style="background-image:url(https://tangbindu.github.io/cui/demo/dist/img_test/thumb248*248.png)")
    .ec-list-info
      h2.title.nowrap-multi Quora精选：如何才能成为超级赛亚人
      p.price 
        span.now 198
        del.before 128
        i.ec-ico-limitsale
      .store
        .logo.ui-avatar
          span(style="background-image: url(https://tangbindu.github.io/cui/demo/dist/img_test/logo40*40.png)")
        .name 美啦 