//lm production machine resources
.lm-pm-resources
  //豆子
  .item
    .bg
    .ico-bean
    .num.num-bean
      span 1658
      span /
      span 200000000
  //水晶
  .item
    .bg
    .ico-crystal
    .num.num-crystal
      span 9999999999
  //金币
  .item
    .bg
      .add.ico-add
    .ico-gold-coins
    .num.num-gold
      span 9999999999 