.swipe(style="width: 400%;")
  ul
    li
    li
    li
    li
script(src="http://tangbindu.github.io/cui/ui/dist/js/zepto.min.js")
script.
  var qt = {};
script(src="http://tangbindu.github.io/cui/ui/dist/js/swipe.js")
script.
  $(function() {
    qt.widget.Swipe($('.swipe')[0], {
      index: 0,
      speed: 300,
      callback: function(pos) {}
    });
  });