doctype html
html(data-use-rem)
  head
    meta(charset="utf-8")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="description",content="")
    meta(name="keywords",content="")
    title webgl手记
  body(ontouchstart="")
    script(src="../js/common/util.js")
    .category
    //demo1
    section#demo1
      canvas(id="demo1_canvas")
      script(src="../js/demo1.js")
    //demo2
    section#demo2
      canvas(id="demo2_canvas")
      script(src="../js/demo2.js")
    //demo3
    section#demo3
      canvas(id="demo3_canvas")
      script(src="../js/demo3.js")
    //demo4
    section#demo4
      canvas(id="demo4_canvas")
      script(src="../js/demo4.js")
    //demo5
    section#demo5
      canvas(id="demo5_canvas")
      script(src="../js/demo5.js")
    //demo6
    section#demo6
      canvas(id="demo6_canvas")
      script(src="../js/demo6.js")
    //demo7
    section#demo7
      canvas(id="demo7_canvas")
      script(src="../js/demo7.js")
    //demo8
    section#demo8
      canvas(id="demo8_canvas")
      script(src="../js/demo8.js")
    //demo9
    section#demo9
      canvas(id="demo9_canvas")
      script(src="../js/demo9.js")
    //demo10
    section#demo10
      canvas(id="demo10_canvas")
      script(src="../js/demo10.js")
    //demo11
    section#demo11
      canvas(id="demo811canvas")
      script(src="../js/demo811js")


    script(src="../js/common/jquery.min.js")
    script(src="../js/common/index.js")
    script(src="../js/common/run_prettify.js")
    link(rel="stylesheet",href="../css/index.css")
    link(rel="stylesheet",href="../css/code.css")











      