<!DOCTYPE html>
html
head
  meta(charset="UTF-8")
  title 100node HTML parse
body
  -for(var i=1;i<20;i++)
    div
      h1 一个标题块标题  
      p 一个内容块标签
      i 一个行内标签
      span 一个行内标签
     // button 一个按钮
  //- script.
  //-   var i=0; 
  //-   while(i<10000){
  //-     i++;
  //-     //console.log(i)
  //-   }
  //- -for(var i=1;i<5;i++)
  //-   div
  //-     h1 一行标题
  //-     p 一行内容