<!DOCTYPE html>
html
head
  meta(charset="UTF-8")
  title 100node HTML parse
body
  -for(var i=1;i<10;i++)
    div
      h1 一个标题块标题
      p 一个内容块标签
      span 一个行内标签
      button 一个按钮
  link( rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css")
  -for(var i=1;i<10;i++)
    div
      h1 一个标题块标题
      p 一个内容块标签
      span 一个行内标签
      button 一个按钮
