*{margin:0;padding:0}body{font-family:'Helvetica Neue', Helvetica, STHeiTi, sans-serif;font-size:14px;line-height:1.5;-webkit-user-select:none;color:#000;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(255,255,255,0)}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal}table{border-spacing:0;border-collapse:collapse}fieldset,img{border:0}em,i{font-style:normal}li{list-style:none}input,button,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;border:0;outline:0;background:none;-webkit-appearance:none}a,button,input,select,textarea,a:focus,button:focus,input:focus,select:focus,textarea:focus,[onclick]{outline:0;-webkit-tap-highlight-color:rgba(255,255,255,0)}a{text-decoration:none;color:#00a5e0;outline:0;-webkit-touch-callout:none}::-webkit-input-placeholder{color:#999}
html,body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color:#cbe5ee;
}
@import "_animation.scss";
.dialog.show{
  display: -webkit-box !important;
}
.hide{
  display: none !important;
}
.page{
  position:fixed;
  left:0;
  top:0;
  right: 0;
  bottom: 0;
  width:100%;
  height:100%;
  z-index:2;
  overflow: hidden
}


//故事页面
.page-story{
  z-index: 10;
}
.page-story .stage{
  position:fixed;
  left:0;
  top:0;
  z-index: 0;
  width:100%;
  height:100%;
  background-color:#fff;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  .elem{
    background-size:100% 100%;
    background-repeat:no-repeat;
    .in{
      position:relative;
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
      background-size:100% 100%;
      background-repeat:no-repeat;
    }
  }
  &.stageA{
    z-index: 10;
    .elem1{
      background-image:url(../img/stageAelem1.jpg);
      width: 7.2rem;
      height: 3.14rem;
      position:relative;
    }
    .elem2{
      position:absolute;
      top: -0.8rem;
      left: 0.5rem;
      width: 3.51rem;
      height: 1.08rem;
      .in{
        background-image:url(../img/stageAelem2.png);
      }
    }
  }
  &.stageB{
    z-index: 9;
    .elem1{
      background-image:url(../img/stageBelem1.jpg);
      width: 7.2rem;
      height: 4.92rem;
      position:relative;
      margin-top: 1.2rem;
    }
    .elem2{
      background-image:url(../img/stageBelem2.jpg);
      width: 4.19rem;
      height: 3.32rem;
      position:absolute;    
      top: 2.1rem;
      left: 0rem;
    }
    .elem3{
      width: 6.83rem;
      height: 3.2rem;
      position:absolute;
      left: .1rem;
      top: -2rem;
      .in{
        background-image:url(../img/stageBelem3.png);
      }
    }
  }
  &.stageC{
    z-index: 8;
    .elem1{
      position:relative;
      z-index: 4;
      background-image:url(../img/stageCelem1.jpg);
      width: 7.4rem;
      height: 3.25rem;
    }
    .elem2{
      position:relative;
      z-index: 2;
      background-image:url(../img/stageCelem2.jpg);
      width: 7.4rem;
      height: 5.69rem;
      margin-bottom:1.3rem;
    }
    .elem3{
      position:absolute;
      left: 0;
      top: -.5rem;;
      width: 4.47rem;
      height: 4.20rem;
      .in{
        background-image:url(../img/stageCelem3.png);
      }
    }
    .elem4{
      position:absolute;
      left: 0;
      top: 3.5rem;;
      width: 6.82rem;
      height: 3.39rem;
      .in{
        background-image:url(../img/stageCelem4.png);
      }
    }
  }
  &.stageD{
    z-index: 7;
    background-color:cyan;
  }
}
.anima{
  .fadeInUp,.fadeInRight,.floatmove,.shock{
    -webkit-animation-duration:0.4s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-timing-function:ease-out;
  }
  .fadeInUp{
    -webkit-animation-name:fadeInUp;
  }
  .fadeInRight{
    -webkit-animation-name:fadeInRight;
  }
  .floatmove{
    -webkit-animation-direction:alternate;
    -webkit-animation-duration:0.8s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:floatmove;
    -webkit-animation-iteration-count:infinite;
  }
  .shock{
    -webkit-animation-direction:alternate;
    -webkit-animation-duration:0.8s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:shock;
    -webkit-animation-iteration-count:infinite;
  }
}
//故事页动效
.stageA.anima{
  .elem1.fadeInUp{
    -webkit-animation-delay:0s;
  }
  .elem2.fadeInRight{
    -webkit-animation-delay:0.4s;
  }
  .elem2 .floatmove{
    -webkit-animation-delay:0.8s;
  }
}

.stageB.anima{
  .elem1.fadeInUp{
    -webkit-animation-delay:0.2s;
  }
  .elem2.fadeInUp{
    -webkit-animation-delay:0.4s;
  }
  .elem3.fadeInRight{
    -webkit-animation-delay:1s;
  }
  .elem3 .shock{
    -webkit-animation-delay:0.2s;
  }
}
.stageC.anima{
  .elem1.fadeInUp{
    -webkit-animation-delay:0.2s;
  }
  .elem3.fadeInRight{
    -webkit-animation-delay:0.6s;
  }
  .elem2.fadeInUp{
    -webkit-animation-delay:1.2s;
  }
  .elem4.fadeInUp{
    -webkit-animation-delay:1.6s;
  }
  .elem4 .shock{
    -webkit-animation-delay:1s;
    -webkit-animation-duration:0.2s;
  }
}






//进入页面
$hdSprite:sprite-map("index/*.png");
@function px2rem ($px) {@if ($px==0) {@return 0rem;}@else{@return $px / 1px * 0.01rem;} }
@mixin sprite-rem($fileName){
  background-image:sprite-url($hdSprite);
  width:px2rem(image-width(sprite-file($hdSprite,$fileName)));
  height:px2rem(image-height(sprite-file($hdSprite,$fileName)));
  background-position:0 px2rem(nth(sprite-position($hdSprite, $fileName), 2));
  background-size:px2rem(image-width(sprite-path($hdSprite))) auto;
  background-repeat: no-repeat;
}
.page-index{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 5;
  background-color:#d2e7e9;
  .theme-elem{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:100;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    perspective:500px;
  }
  .gametitle{
    position:relative;
    z-index: 10;
    font-size:0;
    text-indent: 600px;
    width: 6.54rem;
    height: 2.81rem;
    background:url(../img/gametitle.png) left top no-repeat;
    background-size:100% 100%;
    margin:0.2rem auto 0;
  }
  .role{
    position:relative;
    z-index: 10;
    margin-bottom: 1rem;
    text-align:center;
    padding:1.2rem 0;
    .boy,.girl{
      display: inline-block;
      position: relative;
      vertical-align: middle;
      &:active{
        opacity: 0.6;
      }
    }
    .boy{
      top: 0.5rem;
      margin-left: 0.3rem;
      @include sprite-rem("choiseboy");
      .sos{
        position:relative;
        left: -1rem;
        top: -1rem;
        @include sprite-rem("sos");
      }
      .loader{
        bottom:-0.1rem;
        left: 0.9rem;
      }
    }
    .girl{
      top: -0.5rem;
      @include sprite-rem("choisegirl");
      .why{
        position:relative;
        left:0.7rem;
        top: -0.9rem;
        @include sprite-rem("why");
      }
      .loader{
        bottom:-0.1rem;
        left: 0.3rem;
      }
    }
    .loader{
      width: 1.6rem;
      height: 1.6rem;
      position:absolute;
      span{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: rgba(255, 255, 255,1);
      }
      span:last-child {
        -webkit-animation-delay: -0.5s;
      }
    }
  }
  .explainandview{
    position:fixed;
    left:0;
    bottom:-0.7rem;
    width:100%;
    z-index:10;
    height: 2.24rem;
    text-align: center;
    .explain,.ghost,.viewprize{
      display: inline-block;
      vertical-align: top;
    }
    .explain,.viewprize{
      &:active{
        opacity: 0.5;
      }
    }
    .explain{
      @include sprite-rem("explain");
    }
    .ghost{
      margin: 0 -0.3rem;
      @include sprite-rem("ghost");
    }
    .viewprize{
      @include sprite-rem("viewprize");
    }
  }
  .hole{
    position: fixed;
    z-index: 1;
    width: 10.9rem;
    height: 11.18rem;
    left: 50%;
    top: 50%;
    margin-left: -5.45rem;
    margin-top: -5.59rem;
    background-image: url(../img/hole.png);
    background-position:left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  $hdSprite:sprite-map("flystuff/*.png");
  .perspective{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
    perspective:500px;
    div{
      position:absolute;
      left: 50%;
      top: 50%;
      margin-left: -40px;
      margin-top: -40px;
      opacity: 0;
    }
    div.left{
      left: 20%;
      -webkit-transform-origin:300% center;
    }
    div.right{
      left: 80%;
      -webkit-transform-origin:-300% center;
    }
    div.up{
      top: 40%;
      -webkit-transform-origin:center 300%;
    }
    div.top{
      top: 20%;
      -webkit-transform-origin:center 300%;
    }
    div.bottom{
      top: 80%;
      -webkit-transform-origin:center -300%;
    }
    .boneman{
      @include sprite-rem("boneman");
    }
    .smallanimal1{
      @include sprite-rem("smallanimal1");
    }
    .smallanimal2{
      @include sprite-rem("smallanimal2");
    }
    .syringe{
      @include sprite-rem("syringe");
    }
  }
}


.page-index.show{
  display: block;
  .gametitle{
    -webkit-animation:fadeInDown ease 0.4s 0.2s both;
  }
  .boy{
    -webkit-animation: wobble 0.8s 0s linear both alternate infinite;
    .sos{
      -webkit-animation: showVoice 0.6s 0s ease alternate ;
    }
  }
  .girl{
    -webkit-animation: wobble 0.8s 0.8s linear both alternate infinite;
    .why{
      -webkit-animation: showVoice 0.6s 0.3s ease alternate ;
    }
  }
  .loader{
    -webkit-animation: show 0.1s 1s linear  both;
    span{
      -webkit-animation: touch 1s linear infinite;
    }
  }
  .explain{
    -webkit-animation: fadeInUpPart 0.3s 0.3s linear both;
  }
  .ghost{
    -webkit-animation: fadeInUpPart 0.3s 0.2s linear both;
  }
  .viewprize{
    -webkit-animation: fadeInUpPart 0.3s 0.6s linear both;
  }
  .perspective{
    div{
      -webkit-animation: perspective 5s linear infinite;
    }
    div.delay1{
      -webkit-animation-delay:0.5s;
    }
    div.delay2{
      -webkit-animation-delay:1s;
    }
    div.delay3{
      -webkit-animation-delay:1.5s;
    }
    div.delay4{
      -webkit-animation-delay:2s;
    }
    div.delay5{
      -webkit-animation-delay:2.5s;
    }
    div.delay6{
      -webkit-animation-delay:3s;
    }
    div.delay7{
      -webkit-animation-delay:3.5s;
    }
    div.delay8{
      -webkit-animation-delay:4s;
    }
    div.delay9{
      -webkit-animation-delay:4.5s;
    }
  }
  .hole{
    -webkit-animation:hole 20s linear both infinite;
  }
}

.page-index.show.choiseboy{
  -webkit-animation: hide 1s linear both;
  .gametitle{
    z-index: 0;
    -webkit-animation: perspectivedrop 1s linear both;
  }
  .girl{
    z-index: 0;
    -webkit-animation: perspectivedrop 1s linear both;
  }
  .boy{
    z-index: 10;
    -webkit-animation: perspectivein-right 1s linear both;
  }
}
.page-index.choisegirl{
  -webkit-animation: hide 1s linear both;
  .gametitle{
    z-index: 0;
    -webkit-animation: perspectivedrop 1s linear both;
  }
  .boy{
    z-index: 0;
    -webkit-animation: perspectivedrop 1s linear both;
  }
  .girl{
    z-index: 10;
    -webkit-animation: perspectivein-left 1s linear both;
  }
}




  


.page-game.show{
  display: block;
}
.page-game{
  display: none;
  z-index: 5;
  background-color: #fff;
  background-image: url(../img/gamebg.png);
  background-position:left top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color:#cbe5ee;
  canvas{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  canvas:last-child{
    z-index: 2;
  }
  .gameconer{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background:url(../img/gameforegroundBorder.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    width: 24%;
    padding-top:24%;
  }
}


/*
*游戏进行时
*/
$hdSprite:sprite-map("score/*.png");
@mixin sprite-px($fileName){
  background-image:sprite-url($hdSprite);
  width:image-width(sprite-file($hdSprite,$fileName))/2;
  height:image-height(sprite-file($hdSprite,$fileName))/2;
  background-position:0 round(nth(sprite-position($hdSprite, $fileName), 2))/2;
  background-size:image-width(sprite-path($hdSprite))/2 auto;
  background-repeat: no-repeat;
}
.progresswrap{
  -webkit-animation:fadeInRight ease 0.6s .2s both;
  position:fixed;
  left:15px;
  top:30px;
  width:200px;
  height:16px;
  z-index:10;
  background:rgba(122,137,176,0.9);
  border-radius:16px;
  border:1px solid #744a3b;
  .progress{
    position:relative;
    height: 100%;
    background:#fe7b82;
    border-radius:8px;
    width: 0%;
    .head{
      position:absolute;
      top: 0;
      right: 0;
      margin-top: -20px;
      margin-right: -23px; 
    }
  }
}

.prizewrap{
  -webkit-animation:fadeInRight ease 0.6s .6s both;
  position:fixed;
  left:15px;
  top:70px;
  width:100px;
  height:16px;
  z-index:10;
  background:rgba(122,137,176,0.9);
  border-radius:16px;
  border:1px solid #744a3b;
  text-indent: 45px;
  line-height:15px;
  .prize{
    position:absolute;
    top: 0;
    left: 0;
    margin-top: -15px;
    margin-left: 2px; 
  }
}
.boyhead{
  @include sprite-px("boyhead");
}
.girlhead{
  @include sprite-px("girlhead");
}
.prize{
  @include sprite-px("prize");
}
.num{
  display: inline-block;
  vertical-align: middle
}
.num[data="0"]{
  @include sprite-px("snum0");
}
.num[data="1"]{
  @include sprite-px("snum1");
}
.num[data="2"]{
  @include sprite-px("snum2");
}
.num[data="3"]{
  @include sprite-px("snum3");
}
.num[data="4"]{
  @include sprite-px("snum4");
}
.num[data="5"]{
  @include sprite-px("snum5");
}
.num[data="5"]{
  @include sprite-px("snum5");
}
.num[data="6"]{
  @include sprite-px("snum6");
}
.num[data="7"]{
  @include sprite-px("snum7");
}
.num[data="8"]{
  @include sprite-px("snum8");
}
.num[data="9"]{
  @include sprite-px("snum9");
}
.num[data="split"]{
  @include sprite-px("numsplit");
}


.dialog{
  button:active{
    opacity: 0.5;
  }
  .box{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
  }
  .boxtop{
    -webkit-box-pack: start;
  }
  .iblock{
    display: inline-block
  }
  .tcenter{
    text-align: center;
    word-break: break-all;
  }
  .imgico{
    background-position:left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mt10{
    margin-top: 0.1rem;
  }
  .mt20{
    margin-top: 0.2rem;
  }
  .mb10{
    margin-bottom:.1rem;
  }
  .mb20{
    margin-bottom:.2rem;
  }
  .font32b{
    font-weight: 800;
    font-size: .32rem;
    line-height:0.4rem;
  }
  .font88b{
    font-size: .88rem;
    line-height: 1rem;
    font-weight: 800;
    display: inline-block;
    vertical-align: bottom;
  }
  .fontwhite{
    color: #fff;
  }
  .fonttheme{
    color: #627d7e;
  }
  .fontdraktheme{
    color: #304041;
  }
  .border6{
    border-top:0.06rem solid #627d7e;
    height: 0px;
  }

  .imgico.challengefailuretitle{
    width: 3.49rem;
    height: .88rem;
    background-image:url(../img/dialog/challengefailuretitle.png)
  }
  .imgico.challengesuccesstitle{
    width: 3.49rem;
    height: .88rem;
    background-image:url(../img/dialog/challengesuccesstitle.png)
  }
  .imgico.finish{
    width: .59rem;
    height: .55rem;
    margin-right: .2rem;
    background-image:url(../img/dialog/finish.png)
  }
  .imgico.illustration-bottle{
    width: 0.94rem;
    height: 1.31rem;
    background-image:url(../img/dialog/illustration-bottle.png);
    display:inline-block;
    vertical-align: bottom;
    margin-top: -0.1rem;
  }
  .imgico.illustration-boy{
    width: 1.23rem;
    height: 1.57rem;
    background-image:url(../img/dialog/illustration-boy.png)
  }
  .imgico.illustration-girl{
    width: 1.28rem;
    height: 1.62rem;
    background-image:url(../img/dialog/illustration-girl.png)
  }
  .imgico.iplay-btn{
    width: 2.03rem;
    height: .85rem;
    background-image:url(../img/dialog/iplay-btn.png)
  }
  .imgico.lmseal{
    width: .9rem;
    height: .9rem;
    background-image:url(../img/dialog/lmseal.png)
  }
  .imgico.playagin-btn{
    width: 1.99rem;
    height: 0.81rem;
    background-image:url(../img/dialog/playagin-btn.png)
  }
  .imgico.sharetitle{
    width: 3.47rem;
    height: 0.85rem;
    background-image:url(../img/dialog/sharetitle.png)
  }
  .imgico.show-btn{
    width: 1.93rem;
    height: 0.75rem;
    background-image:url(../img/dialog/show-btn.png)
  }
  .imgico.use-btn{
    width: 1.93rem;
    height: .75rem;
    background-image:url(../img/dialog/use-btn.png)
  }
  .imgico.pnum,.imgico.percent{
    width: 0.62rem;
    height: 0.8rem;
    margin-left: -0.2rem;
  }
  .imgico.pnum[data="0"]{
    background-image:url(../img/dialog/num0.png)
  }
  .imgico.pnum[data="1"]{
    background-image:url(../img/dialog/num1.png)
  }
  .imgico.pnum[data="2"]{
    background-image:url(../img/dialog/num2.png)
  }
  .imgico.pnum[data="3"]{
    background-image:url(../img/dialog/num3.png)
  }
  .imgico.pnum[data="4"]{
    background-image:url(../img/dialog/num4.png)
  }
  .imgico.pnum[data="5"]{
    background-image:url(../img/dialog/num5.png)
  }
  .imgico.pnum[data="6"]{
    background-image:url(../img/dialog/num6.png)
  }
  .imgico.pnum[data="7"]{
    background-image:url(../img/dialog/num7.png)
  }
  .imgico.pnum[data="8"]{
    background-image:url(../img/dialog/num8.png)
  }
  .imgico.pnum[data="9"]{
    background-image:url(../img/dialog/num9.png)
  }
  .imgico.percent{
    background-image:url(../img/dialog/percent.png)
  }

  .imgico.prize[data="1"]{
    width: 0.64rem;
    height: .7rem;
    background-image:url(../img/dialog/prize1.png)
  }
  .imgico.prize[data="2"]{
    width: 0.71rem;
    height: 0.81rem;
    background-image:url(../img/dialog/prize2.png)
  }
  .imgico.prize[data="3"]{
    width: 0.45rem;
    height: 0.94rem;
    background-image:url(../img/dialog/prize3.png)
  }
  .imgico.prize[data="4"]{
    width: 0.36rem;
    height: 0.98rem;
    background-image:url(../img/dialog/prize4.png)
  }
  .imgico.prize[data="5"]{
    width: 0.62rem;
    height: 0.70rem;
    background-image:url(../img/dialog/prize5.png)
  }
  .imgico.prize[data="6"]{
    width: 0.57rem;
    height: 0.76rem;
    background-image:url(../img/dialog/prize6.png)
  }
  .imgico.prize[data="7"]{
    width: 0.34rem;
    height: 0.76rem;
    background-image:url(../img/dialog/prize7.png)
  }
  .imgico.prize[data="8"]{
    width: 0.68rem;
    height: 0.82rem;
    background-image:url(../img/dialog/prize8.png)
  }
  .imgico.prizemask,.imgico.prizemask-gray{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 0.87rem;
    height: 0.87rem;
  }
  .imgico.prizemask{
    background-image:url(../img/dialog/prizemask.png)
  }
  .imgico.prizemask-gray{
    background-image:url(../img/dialog/prizemask-gray.png)

  }

  .ec-grid{
    overflow: hidden;
    font-size: 0;
    -webkit-box-sizing: border-box;
    li{
      position: relative;
      display: inline-block;
      vertical-align: top;
      -webkit-box-sizing: border-box;
      width: 50%;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .ec-grid-img{
    .grid-img{
      position: relative;
      padding-top: 123%;
      background-color: #f2f2f2;
       background-position:center center;
      background-repeat: no-repeat;
      background-size: 27px auto;
      span{
        position:absolute;
        left:0;
        top:0;
        width: 100%;
        height:100%;
        background-position:left top;
        background-repeat: no-repeat;
        background-size:cover;
      }
    }
  }
  .ec-grid-4{
    padding-left:2%;
    padding-top:2%;
    padding-bottom:2%;
    li{
      width: 23%;
    }
    li:nth-child(4n+1){
      right: auto;
    }
    li:nth-child(4n+2){
      margin-left: 2%;
      right: auto;
    }
    li:nth-child(4n+3){
      margin-left: 2%;
      right: auto;
    }
    li:nth-child(4n+4){
      margin-left: 2%;
      right: auto;
    }
    li:nth-last-child(1){
      margin-bottom: 0;
    }
    li:nth-last-child(2){
      margin-bottom: 0;
    }
    li:nth-last-child(3){
      margin-bottom: 0;
    }
    li:nth-last-child(4){
      margin-bottom: 0;
    }
  }


}
.dialog{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:100;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  .mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:0;
    background:rgba(11,23,29,.8);
    -webkit-animation: show 0.3s 0.1s linear both;
  }
  .content{
    position: relative;
    z-index: 2;
    width: 5.4rem;
    min-height: 1rem;
    background-color: #a9cde7;
    border:1px solid #b57d67;
    border-radius:0.2rem;
    padding:0.18rem;
    color: #627d7e;
    max-height: 90%;
    -webkit-animation: fadeInUp 0.3s 0.3s linear both;
    .content-in{
      -webkit-box-sizing:border-box;
      padding:0.2rem;
      background-color:#c5e9e2;
      border-radius:.2rem;
    }
    .warn{
      position:absolute;
      z-index:3;
      left:50%;
      top:0;
      margin-left:-0.6rem;
      height: 0.72rem;
      width:1.17rem;
      top: -0.9rem;
      background: url(../img/dialog/warn.png) left top no-repeat;
      background-size: 100% 100%;
    }
    .close{
      position:absolute;
      z-index:3;
      right: -.4rem;
      top: -.4rem;
      height: 0.8rem;
      width:0.8rem;
      background: url(../img/dialog/close.png) left top no-repeat;
      background-size: 100% 100%;
      text-indent: -200px;
      :active{
        opacity: .5;
      }
    }
  }
  .header{
    height: 40px;
    font-size:16px;
    line-height: 40px;
    text-align: center;
    h2{}
  }
  .body{}
  .footer{}
}

//活动说明
.ruleDialog{
  .illustration-prison{
    width: 2.69rem;
    height: 1.1rem;
    background-image: url(../img/dialog/illustration-prison.png);
  }
  .boy{
    width: .65rem;
    height: 1.12rem;
    background-image: url(../img/dialog/boy.png);
    display: inline-block;
    margin-top: -.2rem;
  }
  .list{
    &>li{
      position: relative;
      margin:2px 0;
      font-size: 12px;
      line-height: 16px;
      color: #333;
      h4{
        word-break:break-all;
        text-align: justify; 
      }
    }
    &>li:first-child{
      margin-top: 0px;
    }
    &>li:last-child{
      margin-bottom: 0px;
    }
  }
  .min-title{
    font-size: .24rem;
    color: #f6fae7;
    position:relative;
    z-index: 30;
    height: 0.6rem;
    line-height: .6rem;
    margin-bottom: -0.7rem;
    text-align: center;
  }
  .list-rule{
    position:relative;
    z-index: 10;
    padding:0.1rem 0px;
    margin-top: .1rem;
    background-color:#f6fae7;
    border:.06rem solid #627d7e;
    border-top-width:.6rem;
    &>li{
      color: #4d6465;
      margin-left: 16px;
      padding-left: 2px;
      line-height:1.5em;
      .decimal{
        position: absolute;
        font-style:normal;
        left: -16px;
        top: 0;
        width: 16px;
        height: 16px;
        text-align: center;
        color: #fff;
      }
    }
  }
}


//奖励
.prizeDialog{
  .prize-box{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
  } 
  .name{
    display: block;
    width: 100%;
    text-align:center;
    font-size: 0.2rem;
  }
  .ec-grid{
    background-color: #627d7e;
    color: #f6fae7
  }
}


//游戏结束
.dialog.gameoverDialog{
  .prizebox{
    position:relative;
    width: 0.87rem;
    height: 0.87rem;
    text-align: center;
    vertical-align: middle;
    line-height: 0.87rem;
    .prize{
      margin-top: 15%;
      max-width: 70%;
      max-height: 70%;
    }
  }
  .style1{
    width: 3rem;
    margin-left: 0.2rem;
  }
  .wrap1{
    margin:.2rem 0;
  }
  h3{
    font-weight: 800;
  }
  .style4{
    p{
      font-size: 12px;
    }
    margin-bottom: 0.2rem;
  }
  .btn-group{
    text-align: center;
    height: 0px;
    margin-top: 0.2rem;
    .use-btn{
      margin-left: 0.5rem;
    }
    div:active{
      opacity: 0.6
    }
  }
}

//分享的客人态
.gameshareDialog{
  .style1{
    width: 3rem;
    margin-left: 0.2rem;
  }
  .wrap1{
    margin:.2rem 0;
  }
  h3{
    font-weight: 800;
  }
  .style4{
    p{
      font-size: 12px;
    }
    margin-bottom: 0.2rem;
  }
}


@media screen and (max-height: 460px) {
  .ruleDialog  .list-rule{
    max-height: 2rem;
    overflow-y:auto;
    padding-bottom: 0;
  }
  .ruleDialog .min-title{
    font-size:0.2rem;
  }
}

@-webkit-keyframes loading-boy{from{background-position:0 0}to{background-position:108px 0}}
@-webkit-keyframes run-boy{
  from{
    -webkit-transform:translate3D(-130px,0px,0px);
    -webkit-transform-origin:center top;
  }
  to{
    -webkit-transform-origin:center top;
    -webkit-transform:translate3D(130px,0px,0px)
  }
}


//loading
.page-loading{
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  background-color:#fff;
  -webkit-box-sizing:border-box;
  padding-bottom:100px;
  z-index: 15;
  color: #816051;
  font-size:12px;
  p{
    margin-top: -2px;
    -webkit-animation: run-boy 10s linear infinite;
    text-indent: 6px;
  }
  .loading-wrap{
    position:relative;
    font-size: 12px;
    width: 36px;
    height: 54px;
    display: block;
    -webkit-animation: run-boy 10s linear infinite;
  }
  .loading-boy{
    width: 36px;
    height: 54px;
    display: block;
    background: url(../img/dialog/loading.png);
    -webkit-background-size: auto 54px;
    -webkit-animation: loading-boy 0.3s steps(3) infinite;
  }
  .play-tips{
    position:fixed;
    left:0;
    bottom:10%;
    width: 100%;
    height:16px;
    z-index:1;
    margin-top: 40px;
    background: url(../img/dialog/play-tips.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: auto 16px;
  }
}